circle {
    stroke: black;
}

.Gasoline {
    fill: lightblue;
}

.Diesel {
    fill: yellow;
}

.Electricity {
    fill: lightgreen;
}

.unfocused {
    fill: grey;
    opacity: 0.15;
}

.has-tooltip {
    fill: red;
}