body {
    display: flex;
    justify-content: center;
}

circle {
    stroke: black;
}

#container {
    width: 1000px;
}

#header {
    text-align: center;
    margin-bottom: 10px;
}

.Gasoline {
    fill: lightblue;
}

.Diesel {
    fill: yellow;
}

.Electricity {
    fill: lightgreen;
}

.has-tooltip {
    fill: orangered;
}

.unfocused {
    fill: grey;
    opacity: 0.15;
}

.annotation-subject {
    pointer-events: none;
}